---
title: "Categories"
layout: default
permalink: "/categories.html"
locale: en
---

<!-- general way to assign locale according to specific page configuration -->
{% assign loc = page.pagination.locale %}
{% if loc == nil %}
    {% assign loc = page.locale %}
{% endif %}

{% assign strings = site.data.translations.strings[loc] %}


<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8">
            <h1 class="font-weight-bold title h6 text-uppercase mb-4">{{ strings.categories }}</h1>

            {% for category in site.categories %}
                {% assign pages_list = category[1] | where: "locale", loc %}
                {% assign len = pages_list | size %}
                
                {% if len > 0 %}
                    <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}">
                    <span>{{ category[0] }}</span>
                    </h4>

                    {% for post in pages_list %}
                        {% if post.title != null %}
                            {% if group == null or group == post.group %}
                                {% include short-loop-card.html loc = loc %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% assign pages_list = nil %}
                {% assign group = nil %}
            {% endfor %}

        </div>

        <div class="col-md-4">
            {% include sidebar-featured.html loc = loc %}
        </div>

    </div>
</div>
