#--- original content ---
_site
.sass-cache
.jekyll-metadata
node_modules
Gemfile.lock

#--- SM additions ---
# macOS junk
.DS_store

# sparse files/directories
*.OLD
*.md
TRASH

# post images
assets/images/*

# the method below does not work when one has already committed a version of the file
# not containg any secret, just to document how to use the secrets.yml file; 
# it is much better to use specific command
# % git update-index --assume-unchanged _data/secrets.yml
#
# # file containing information to be kept reserved
# _data/secrets.yml
#--------------------
