#--- original content ---
_site
.sass-cache
.jekyll-metadata
node_modules
Gemfile.lock

#--- SM additions ---
# macOS junk
.DS_store

# sparse files/directories
*.OLD
*.md
TRASH

# post images
assets/images/*

# file containing information to be kept reserved
#   does not work, better to use
#     % git update-index --assume-unchanged _data/secrets.yml
_data/secrets.yml
#--------------------
