{% assign loc = page.locale %}
{% assign strings = site.data.translations.strings[loc] %}
{% assign dates = site.data.translations.dates[loc] %}


<div id="comments-container">
    <!-- javascript will add comments here. loaded from backend and/or submitted successfully -->
</div>


<h4 class="font-weight-bold spanborder mt-4"><span>{{ strings.comment_add }}</span></h4>

<!-- <form id="new-comment-form" action="{{ site.commentserver }}">
    <input type="hidden" name="post" value="{{ page.name }}">
    <br/><input type="text" name="name" placeholder="{{ strings.comment_name }}" required/>
    <br/><input type="email" name="email" placeholder="{{ strings.comment_email }}" required/>
    <br/><input type="url" name="url" placeholder="{{ strings.comment_web }}"/>
    <br/><input type="text" name="special" placeholder="{{ strings.comment_chk }}" required/>
    <br/><textarea rows="10" name="message" placeholder=" {{ strings.comment_txt }}" required></textarea>
    <button id="new-comment-submit" class="btn-ready" type="submit" value="Send">{{ strings.send_btn }}</button>
</form> -->

<form id="new-comment-form" action="{{ site.commentserver }}">
    <input type="hidden" name="post" value="{{ page.name }}">
    <div class="form-group">
        <input id="comment-name" type="text" name="name" class="form-control" aria-describedby="name-note" placeholder="{{ strings.comment_name }}" required />
        <!-- <small id="name-note" class="form-text text-muted">{{ strings.comment_name_note }}</small> -->
    </div>
    <!-- <div class="form-group"> -->
        <!-- <label for="comment-email">Email address</label> -->
        <!-- <input id="comment-email" type="email" name="email" class="form-control" aria-describedby="email-note" placeholder="{{ strings.comment_email }}" /> -->
        <!-- <small id="email-note" class="form-text text-muted">{{ strings.comment_email_note }}</small> -->
    <!-- </div> -->
    <div class="form-group">
        <input id="comment-url" type="url" name="url" class="form-control" aria-describedby="url-note" placeholder="{{ strings.comment_web }}" />
        <!-- <small id="url-note" class="form-text text-muted">{{ strings.comment_web_note }}</small> -->
    </div>
    <div class="form-group">
        <textarea id="comment-area" name="message" class="form-control" rows="5" placeholder="{{ strings.comment_txt }}" required ></textarea>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input id="comment-check" type="checkbox" name="special" class="form-check-input" required />
            <label for="comment-check" class="form-check-label">{{ strings.comment_chk }}</label>
        </div>
    </div>
    <button id="new-comment-submit" type="submit" class="btn btn-primary" value="Send">{{ strings.send_btn }}</button>
</form>


<!-- <template id="comment-template">
    <article id="comment" class="comment">
        <img class="commentAvatar" src="https://www.gravatar.com/avatar/@hash?d=mm&s=80">
        <div class="commentRight">
            <p class="commentAuthor"><a href="@url" class="commentAuthor">@name</a></p>
            <time class="entry-date" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">@date</time>
            <div class="commentMessage">@message</div>
        </div>
    </article>
</template> -->


<template id="comment-template">
<div class="card border-primary rounded-0 mb-2">
    <div class="d-flex flex-row flex-wrap">
        <div class="card-block">
            <img src={{ "https://icotar.com/avatar/" | append: "@id" | append: ".png"}}>
        </div>
        <div class="card-header flex-fill">
            <h5>@name</h5>
            <!-- <time datetime="{{ dates.date_format }}">{{"@date" | date: "%Y" }}</time> -->
            <div>@dateloc</div>
        </div>
    </div>
    <div class="flex-column">
        <div class="card-body">
            <p class="card-text">@message</p>
        </div>
    </div>
</div>
</template>


<script language="javascript">
    var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    // from https://stackoverflow.com/questions/9899372/vanilla-javascript-equivalent-of-jquerys-ready-how-to-call-a-function-whe
    function domReady(fn) {
        if (document.readyState === "complete" || document.readyState === "interactive") {
            setTimeout(fn, 1);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    } 
    // from: https://getbootstrap.com/docs/4.0/components/popovers/
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    
    var addComment = function (data) {
        console.log("adding comment", data);
        const container = document.getElementById("comments-container");
        const template = document.getElementById('comment-template');

        var txt = template.innerHTML;
        var d = new Date(data.Ts);
        var date = d.getDate() + " " + monthNames[d.getMonth()] + ", " + d.getFullYear() + " at " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
        
        // change date according to blog language
        const dateopts = {weekday: "long", day: "numeric", month: "long", year: "numeric", hour: "numeric", minute: "numeric", hour12: false};
        var dateLocale = d.toLocaleString("{{loc}}", options = dateopts);
       
        txt = txt.replace('@hash', data.Hash)
                  .replace('@date', date)
                  .replace('@dateloc', dateLocale)
                  .replace('@name', data.Author)
                  .replace('@id', data.Author)
                  .replace('@message', data.Message)
                  .replace('@url', data.Link);
        let temp = document.createElement('template');
        temp.innerHTML = txt;
        container.appendChild(temp.content.firstElementChild);
        // console.log(container)
        // console.log(dateLocale)
        // console.log("{{loc}}")
    };

    domReady(async function() {
        let form = document.getElementById("new-comment-form");
        let commentsUrl = "{{ site.commentserver }}/{{ page.name }}";

        form.addEventListener("submit", (event) => {
            event.preventDefault();
            sendData();
         });

        const response = await fetch(commentsUrl);
         if (response.ok) {
            comments = await response.json();
            comments.forEach(addComment);
         } else {
            e = "<div><b>Could not load comments</b></br>" + status + " " + err +
                "<br/>Disabling commenting feature";
            form.parentNode.insertBefore(document.createElement(e), form);
            form.display = "none";
        }

         async function sendData() {
            document.querySelector('#new-comment-submit').textContent = "{{ strings.send_btn_sending }}";
            const formData = new FormData(form);
            try {
                const response = await fetch(commentsUrl, {
                    method: "POST",
                    body: formData,
                });
                button = document.querySelector('#new-comment-submit');
                if (response.ok) {
                    button.textContent = "{{ strings.send_btn_ok }}";
                    button.className = "btn btn-dark";
                    comment = await response.json();
                    addComment(comment);
                    // comment sent successfully, now it is possible to clean the comment form
                    document.getElementById("comment-name").value = "";
                    document.getElementById("comment-url").value = "";
                    document.getElementById("comment-area").value = "";
                    document.getElementById("comment-check").checked = false;
                } else {
                    button.className = 'btn-err';
                    const message = await response.text();
                    button.textContent = 'failed with status ' + response.status + ' ' + message;
                }
                // toggle state of send button after a timeout
                setTimeout(function(){
                    button.textContent = "{{ strings.send_btn }}";
                    button.className = "btn btn-primary";
                }, 4000);
                
            } catch (e) {
                button.textcontent = 'failed with error ' + e;
                console.error(e);
            }
        }
   });
</script>
