<!--  Replace menu links here -->

<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Ghost</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li> -->

<!--  Replace menu links here -->


<!-- the loc variable is passed from default.html through the include statement  -->
{% assign strings = site.data.translations.strings[loc] %}

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}index.html">Home</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}categories.html">{{ strings.categories }}</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}tags.html">{{ strings.tags }}</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}authors-list.html">{{ strings.authors }}</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}contact.html">{{ strings.contact }}</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}privacy-policy.html">{{ strings.privacy }}</a>
</li>


<!-- Lang Switcher -->
{% include custom/lang-switcher.html %}
